/*  Estilos navbar*/
.top-bar{
  padding-top: 0.3rem !important;
  padding-bottom: 2rem !important;
}

.icon-top-bottom{
  font-size: 2rem !important;
  padding: 0 1rem 0 1rem !important;
}

/* estilo head portada*/
.portada-general{
margin: 5vh 0 0 0 !important;
}
.texto-portada{
  padding: 10vh 1vh 0 1vh !important;
}
.foto-portada{
  padding: 5vh 1vh 0 1vh !important;
}


/*  Respuestas*/
.seccion-respuestas{
  background-color: #eeeded;
  padding-bottom: 10vh;
}
.posts-servicios{
background-color: white !important;
}

.head-servivios{
  margin: 5vh 0 0 0;
  background-color: #f8f8f8 !important;
}
.titulos-servicios{
  margin: 0 0 0 0;
}
.fotos-servicios{
  margin: 0 0 0 0;
}

.respuestas{
  padding: 12vh 0 0 0;
}
.respuestas_final{
  padding: 12vh 0 0 0;
}

/*  Formulario modular*/
.transparente{
opacity: 0.8;
-moz-opacity: 0.8;
filter: alpha(opacity=80);
-khtml-opacity: 0.8;

}

/*  Seccion servicio index */
.service-box .service{
  border-radius: 5px 5px 5px 5px !important;
  box-shadow: 0 10px 20px #bebcbc !important;
  box-sizing: content-box !important;
}
.invisibles{
  visibility: hidden;
}
/* seccion informacion index */
.imagen-informacion{
  border-radius: 5px 5px 5px 5px !important;
  box-shadow: 0 20px 40px #bebcbc !important;
  box-sizing: content-box !important;
}


/*  Botones de contactos*/
.bonton-estilo{
  box-shadow: 0 10px 20px #bebcbc !important;
  margin-top: 1rem;
}
.bonton-estilo-1{
  box-shadow: 0 10px 20px #a9a9a9 !important;
  margin-top: 1rem;
}
.bonton-estilo-2{
  box-shadow: 0 10px 20px #292929 !important;
  margin: 1rem;
}

.bonton-estilo-3{
  box-shadow: 0 10px 20px #a9a9a9 !important;
  margin: 0.6rem;
}
